body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(132, 178, 200);
    margin: 0;
    padding: 0;
}

.rank-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(175, 238, 238);
    text-align: center;
}

.rank-container h1 {
    color: #333;
    margin-bottom: 20px;
}

#rankList {
    list-style: none;
    padding: 0;
}

#rankList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #555;
}

.menu-button {
    background-color: rgb(176, 224, 250);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.menu-button:hover {
    background-color: rgb(175, 238, 238);
}
