<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng Xếp Hạng</title>
<link rel="stylesheet" href="{{ url_for('static', filename='rank_style.css') }}">
</head>
<body>
    <div class="rank-container">
        <h1>Bảng Xếp Hạng</h1>
        <ul id="rankList">
            {% for rank in ranks %}
                <li>{{ rank }}</li>
            {% endfor %}
        </ul>
        <button id="backToMenu" class="menu-button">Quay Lại</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#backToMenu').click(function() {
            window.history.back();
        });
    </script>
</body>
</html>
